@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
body {
    background-color: black;
    color: azure;
    font-family: 'Share Tech Mono', monospace;
    margin: 0px;
}

th {
    width: 250px;
    border: 1px solid white;
    border-radius: 1px;
    height: 25px;
}

td {
    width: 250px;
    border: 1px solid white;
    border-radius: 1px;
    height: 25px;
}

li {
    display: inline;
}

a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #6244ff;
}

header {
    text-align: center;
    display: list-item;
}

button {
    cursor: pointer;
}

.fullwidth {
    width: 100vh;
}

.darkbg {
    text-align: center;
    padding: 5px;
    font-size: 10px;
}

.darkbg2 {
    text-align: center;
    padding: 5px;
    font-size: 10px;
    background-color: #000000a1;
}

.nav-links {
    text-align: center;
    color: blueviolet;
    text-decoration: none;
    padding: 2%;
    font-size: 18px;
}

.search {
    float: right;
    background-color: #0000;
    border: 1px solid #12ff1a;
    border-radius: 5px;
    padding: 0.3%;
    color: #12ff1a;
    font-size: 15px;
}

.slogan {
    font-size: 15px;
}

.bg1 {
    background-image: url(../assets/imgs/bg1.jpg);
    background-size: cover;
    background-position: center;
    width: auto;
    height: 800px;
}

.imgsize {
    width: 90px;
    float: left;
    margin-left: 20px;
    margin-top: -1.3%;
    font-size: 25px;
    color: #12ff1a;
}

.textsize {
    float: left;
    margin-left: -20px;
    margin-top: -1.0%;
    font-size: 25px;
    color: #12ff1a;
}

.bannertext {
    text-align: left;
    font-size: 50px;
    color: #12ff1a;
}

.padding-banner {
    padding: 13%;
}

.pad-carrinho {
    padding: 5%;
}

.padding-title {
    padding-top: 5%;
    padding-left: 13%;
}

.btn {
    background-color: #8312ff;
    color: #fff;
    border: none;
    padding: 0.5% 1%;
    font-size: 15px;
    border-radius: 3px;
}

.btn:hover {
    background-color: #12ff1a;
    border-radius: 3px;
    color: #000000;
}

.productstitle {
    width: 50%;
    margin: auto;
    padding: 10px;
    font-size: 30px;
    color: #12ff1a;
}

.card {
    width: 200px;
    height: auto;
    background-color: #000;
    border: 5px solid #8312ff;
    border-radius: 7px;
    margin: 5%;
    text-align: center;
}

.width200 {
    width: 200px;
}

.inline {
    display: inline-flex;
}

.container {
    padding: 2% 10%;
}

.padding-bottom {
    margin-bottom: 4px;
}

.hidden {
    visibility: hidden;
    display: none;
}

.logo {
    height: auto;
    max-width: 54px;
    ;
}

.txtcenter {
    text-align: center;
}

.video {
    background-image: url('assets/imgs/bg2.jpg');
    background-size: cover;
    background-position: inherit;
    width: auto;
    height: 650px;
}

.mgtop {
    margin-top: 10%;
}

.mgright {
    margin-right: 2%;
    font-size: 16px;
}

.loginbg {
    width: 349px;
    height: 243px;
    background: #4c00a0;
    margin: 10% auto auto auto;
    border-radius: 11px;
    opacity: 0.7;
}

.logintitle {
    font-size: 25px;
    text-align: center;
    padding: 25px 0px 0px 0px;
}

.inputs {
    margin: 0px auto 20px auto;
}

.holder {
    text-align: center;
    margin: 0px auto 20px auto;
}

.btnlogin {
    padding: 4px 15px;
    background: #12ff1a;
    border: none;
    border-radius: 4px;
    margin-bottom: 5px;
}

.font11 {
    font-size: 11px;
}

.font11 a:hover {
    color: #12ff1a;
}

.cadastrobg {
    width: 349px;
    height: 329px;
    background: #4c00a0;
    margin: 10% auto auto auto;
    border-radius: 11px;
    opacity: 0.7;
}

.cadastrotitle {
    font-size: 25px;
    text-align: center;
    padding: 23px 0px 0px 0px;
}

.btnbuy {
    margin: 6px;
    width: 130px;
    border: none;
    background: #12ff1a;
    border-radius: 2px;
    border: 2px solid #12ff1a;
}

.btnbuy:hover {
    margin: 6px;
    width: 130px;
    background: white;
    border: 2px solid #12ff1a;
    border-radius: 2px;
    cursor: pointer;
}

.carrinhobg {
    width: 46%;
    margin: 0px auto 0px auto;
    height: auto;
    background: black;
    opacity: 0.7;
    position: absolute;
    border-radius: 10px;
}

.btnfinish {
    width: 99.5%;
    height: 43px;
    text-align: center;
    background-color: #12ff1a;
    border: 2px solid #12ff1a;
    border-radius: 2px;
}

.btnfinish:hover {
    width: 99.5%;
    height: 43px;
    text-align: center;
    background: white;
    border: 2px solid #12ff1a;
    border-radius: 2px;
}

.btnfinish a {
    color: #000!important;
}